# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Flask instance folder (for configs/secrets)
instance/

# SQLite / local database files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/

# VSCode / IDEs
.vscode/
.idea/

# PyInstaller
*.spec
.env
